.bg-nadeshiko {
  background-color: #DC9FB4;
}

.text-nadeshiko {
  color: #DC9FB4;
}

.bg-kohbai {
  background-color: #E16B8C;
}

.text-kohbai {
  color: #E16B8C;
}

.bg-suoh {
  background-color: #8E354A;
}

.text-suoh {
  color: #8E354A;
}

.bg-taikoh {
  background-color: #F8C3CD;
}

.text-taikoh {
  color: #F8C3CD;
}

.bg-ikkonzome {
  background-color: #F4A7B9;
}

.text-ikkonzome {
  color: #F4A7B9;
}

.bg-kuwazome {
  background-color: #64363C;
}

.text-kuwazome {
  color: #64363C;
}

.bg-momo {
  background-color: #F596AA;
}

.text-momo {
  color: #F596AA;
}

.bg-ichigo {
  background-color: #B5495B;
}

.text-ichigo {
  color: #B5495B;
}

.bg-usubeni {
  background-color: #E87A90;
}

.text-usubeni {
  color: #E87A90;
}

.bg-imayoh {
  background-color: #D05A6E;
}

.text-imayoh {
  color: #D05A6E;
}

.bg-nakabeni {
  background-color: #DB4D6D;
}

.text-nakabeni {
  color: #DB4D6D;
}

.bg-sakura {
  background-color: #FEDFE1;
}

.text-sakura {
  color: #FEDFE1;
}

.bg-umenezumi {
  background-color: #9E7A7A;
}

.text-umenezumi {
  color: #9E7A7A;
}

.bg-karakurenai {
  background-color: #D0104C;
}

.text-karakurenai {
  color: #D0104C;
}

.bg-enji {
  background-color: #9F353A;
}

.text-enji {
  color: #9F353A;
}

.bg-kurenai {
  background-color: #CB1B45;
}

.text-kurenai {
  color: #CB1B45;
}

.bg-toki {
  background-color: #EEA9A9;
}

.text-toki {
  color: #EEA9A9;
}

.bg-cyohsyun {
  background-color: #BF6766;
}

.text-cyohsyun {
  color: #BF6766;
}

.bg-kokiake {
  background-color: #86473F;
}

.text-kokiake {
  color: #86473F;
}

.bg-sakuranezumi {
  background-color: #B19693;
}

.text-sakuranezumi {
  color: #B19693;
}

.bg-jinzamomi {
  background-color: #EB7A77;
}

.text-jinzamomi {
  color: #EB7A77;
}

.bg-azuki {
  background-color: #954A45;
}

.text-azuki {
  color: #954A45;
}

.bg-suohkoh {
  background-color: #A96360;
}

.text-suohkoh {
  color: #A96360;
}

.bg-akabeni {
  background-color: #CB4042;
}

.text-akabeni {
  color: #CB4042;
}

.bg-shinsyu {
  background-color: #AB3B3A;
}

.text-shinsyu {
  color: #AB3B3A;
}

.bg-haizakura {
  background-color: #D7C4BB;
}

.text-haizakura {
  color: #D7C4BB;
}

.bg-kuriume {
  background-color: #904840;
}

.text-kuriume {
  color: #904840;
}

.bg-ebicha {
  background-color: #734338;
}

.text-ebicha {
  color: #734338;
}

.bg-ginsyu {
  background-color: #C73E3A;
}

.text-ginsyu {
  color: #C73E3A;
}

.bg-kurotobi {
  background-color: #554236;
}

.text-kurotobi {
  color: #554236;
}

.bg-benitobi {
  background-color: #994639;
}

.text-benitobi {
  color: #994639;
}

.bg-akebono {
  background-color: #F19483;
}

.text-akebono {
  color: #F19483;
}

.bg-benikaba {
  background-color: #B54434;
}

.text-benikaba {
  color: #B54434;
}

.bg-mizugaki {
  background-color: #B9887D;
}

.text-mizugaki {
  color: #B9887D;
}

.bg-sangosyu {
  background-color: #F17C67;
}

.text-sangosyu {
  color: #F17C67;
}

.bg-benihiwada {
  background-color: #884C3A;
}

.text-benihiwada {
  color: #884C3A;
}

.bg-syojyohi {
  background-color: #E83015;
}

.text-syojyohi {
  color: #E83015;
}

.bg-entan {
  background-color: #D75455;
}

.text-entan {
  color: #D75455;
}

.bg-shikancha {
  background-color: #B55D4C;
}

.text-shikancha {
  color: #B55D4C;
}

.bg-hiwada {
  background-color: #854836;
}

.text-hiwada {
  color: #854836;
}

.bg-kakishibu {
  background-color: #A35E47;
}

.text-kakishibu {
  color: #A35E47;
}

.bg-ake {
  background-color: #CC543A;
}

.text-ake {
  color: #CC543A;
}

.bg-tobi {
  background-color: #724832;
}

.text-tobi {
  color: #724832;
}

.bg-benihi {
  background-color: #F75C2F;
}

.text-benihi {
  color: #F75C2F;
}

.bg-kurikawacha {
  background-color: #6A4028;
}

.text-kurikawacha {
  color: #6A4028;
}

.bg-bengara {
  background-color: #9A5034;
}

.text-bengara {
  color: #9A5034;
}

.bg-terigaki {
  background-color: #C46243;
}

.text-terigaki {
  color: #C46243;
}

.bg-edocha {
  background-color: #AF5F3C;
}

.text-edocha {
  color: #AF5F3C;
}

.bg-araisyu {
  background-color: #FB966E;
}

.text-araisyu {
  color: #FB966E;
}

.bg-momoshiocha {
  background-color: #724938;
}

.text-momoshiocha {
  color: #724938;
}

.bg-karacha {
  background-color: #B47157;
}

.text-karacha {
  color: #B47157;
}

.bg-tokigaracha {
  background-color: #DB8E71;
}

.text-tokigaracha {
  color: #DB8E71;
}

.bg-ohni {
  background-color: #F05E1C;
}

.text-ohni {
  color: #F05E1C;
}

.bg-sohi {
  background-color: #ED784A;
}

.text-sohi {
  color: #ED784A;
}

.bg-ensyucha {
  background-color: #CA7853;
}

.text-ensyucha {
  color: #CA7853;
}

.bg-kabacha {
  background-color: #B35C37;
}

.text-kabacha {
  color: #B35C37;
}

.bg-kogecha {
  background-color: #563F2E;
}

.text-kogecha {
  color: #563F2E;
}

.bg-akakoh {
  background-color: #E3916E;
}

.text-akakoh {
  color: #E3916E;
}

.bg-suzumecha {
  background-color: #8F5A3C;
}

.text-suzumecha {
  color: #8F5A3C;
}

.bg-shishi {
  background-color: #F0A986;
}

.text-shishi {
  color: #F0A986;
}

.bg-sodenkaracha {
  background-color: #A0674B;
}

.text-sodenkaracha {
  color: #A0674B;
}

.bg-kaba {
  background-color: #C1693C;
}

.text-kaba {
  color: #C1693C;
}

.bg-kokikuchinashi {
  background-color: #FB9966;
}

.text-kokikuchinashi {
  color: #FB9966;
}

.bg-kurumi {
  background-color: #947A6D;
}

.text-kurumi {
  color: #947A6D;
}

.bg-taisya {
  background-color: #A36336;
}

.text-taisya {
  color: #A36336;
}

.bg-araigaki {
  background-color: #E79460;
}

.text-araigaki {
  color: #E79460;
}

.bg-kohrozen {
  background-color: #7D532C;
}

.text-kohrozen {
  color: #7D532C;
}

.bg-akakuchiba {
  background-color: #C78550;
}

.text-akakuchiba {
  color: #C78550;
}

.bg-tonocha {
  background-color: #985F2A;
}

.text-tonocha {
  color: #985F2A;
}

.bg-akashirotsurubami {
  background-color: #E1A679;
}

.text-akashirotsurubami {
  color: #E1A679;
}

.bg-sencha {
  background-color: #855B32;
}

.text-sencha {
  color: #855B32;
}

.bg-kanzo {
  background-color: #FC9F4D;
}

.text-kanzo {
  color: #FC9F4D;
}

.bg-sharegaki {
  background-color: #FFBA84;
}

.text-sharegaki {
  color: #FFBA84;
}

.bg-beniukon {
  background-color: #E98B2A;
}

.text-beniukon {
  color: #E98B2A;
}

.bg-umezome {
  background-color: #E9A368;
}

.text-umezome {
  color: #E9A368;
}

.bg-biwacha {
  background-color: #B17844;
}

.text-biwacha {
  color: #B17844;
}

.bg-chojicha {
  background-color: #96632E;
}

.text-chojicha {
  color: #96632E;
}

.bg-kenpohzome {
  background-color: #43341B;
}

.text-kenpohzome {
  color: #43341B;
}

.bg-kohaku {
  background-color: #CA7A2C;
}

.text-kohaku {
  color: #CA7A2C;
}

.bg-usugaki {
  background-color: #ECB88A;
}

.text-usugaki {
  color: #ECB88A;
}

.bg-kyara {
  background-color: #78552B;
}

.text-kyara {
  color: #78552B;
}

.bg-chojizome {
  background-color: #B07736;
}

.text-chojizome {
  color: #B07736;
}

.bg-fushizome {
  background-color: #967249;
}

.text-fushizome {
  color: #967249;
}

.bg-kuchiba {
  background-color: #E2943B;
}

.text-kuchiba {
  color: #E2943B;
}

.bg-kincha {
  background-color: #C7802D;
}

.text-kincha {
  color: #C7802D;
}

.bg-kitsune {
  background-color: #9B6E23;
}

.text-kitsune {
  color: #9B6E23;
}

.bg-susutake {
  background-color: #6E552F;
}

.text-susutake {
  color: #6E552F;
}

.bg-usukoh {
  background-color: #EBB471;
}

.text-usukoh {
  color: #EBB471;
}

.bg-tonoko {
  background-color: #D7B98E;
}

.text-tonoko {
  color: #D7B98E;
}

.bg-ginsusutake {
  background-color: #82663A;
}

.text-ginsusutake {
  color: #82663A;
}

.bg-ohdo {
  background-color: #B68E55;
}

.text-ohdo {
  color: #B68E55;
}

.bg-shiracha {
  background-color: #BC9F77;
}

.text-shiracha {
  color: #BC9F77;
}

.bg-kobicha {
  background-color: #876633;
}

.text-kobicha {
  color: #876633;
}

.bg-kigaracha {
  background-color: #C18A26;
}

.text-kigaracha {
  color: #C18A26;
}

.bg-yamabuki {
  background-color: #FFB11B;
}

.text-yamabuki {
  color: #FFB11B;
}

.bg-yamabukicha {
  background-color: #D19826;
}

.text-yamabukicha {
  color: #D19826;
}

.bg-hajizome {
  background-color: #DDA52D;
}

.text-hajizome {
  color: #DDA52D;
}

.bg-kuwacha {
  background-color: #C99833;
}

.text-kuwacha {
  color: #C99833;
}

.bg-tamago {
  background-color: #F9BF45;
}

.text-tamago {
  color: #F9BF45;
}

.bg-shirotsurubami {
  background-color: #DCB879;
}

.text-shirotsurubami {
  color: #DCB879;
}

.bg-kitsurubami {
  background-color: #BA9132;
}

.text-kitsurubami {
  color: #BA9132;
}

.bg-tamamorokoshi {
  background-color: #E8B647;
}

.text-tamamorokoshi {
  color: #E8B647;
}

.bg-hanaba {
  background-color: #F7C242;
}

.text-hanaba {
  color: #F7C242;
}

.bg-namakabe {
  background-color: #7D6C46;
}

.text-namakabe {
  color: #7D6C46;
}

.bg-torinoko {
  background-color: #DAC9A6;
}

.text-torinoko {
  color: #DAC9A6;
}

.bg-usuki {
  background-color: #FAD689;
}

.text-usuki {
  color: #FAD689;
}

.bg-kikuchiba {
  background-color: #D9AB42;
}

.text-kikuchiba {
  color: #D9AB42;
}

.bg-kuchinashi {
  background-color: #F6C555;
}

.text-kuchinashi {
  color: #F6C555;
}

.bg-tohoh {
  background-color: #FFC408;
}

.text-tohoh {
  color: #FFC408;
}

.bg-ukon {
  background-color: #EFBB24;
}

.text-ukon {
  color: #EFBB24;
}

.bg-karashi {
  background-color: #CAAD5F;
}

.text-karashi {
  color: #CAAD5F;
}

.bg-higosusutake {
  background-color: #8D742A;
}

.text-higosusutake {
  color: #8D742A;
}

.bg-rikyushiracha {
  background-color: #B4A582;
}

.text-rikyushiracha {
  color: #B4A582;
}

.bg-aku {
  background-color: #877F6C;
}

.text-aku {
  color: #877F6C;
}

.bg-rikyucha {
  background-color: #897D55;
}

.text-rikyucha {
  color: #897D55;
}

.bg-rokohcha {
  background-color: #74673E;
}

.text-rokohcha {
  color: #74673E;
}

.bg-nataneyu {
  background-color: #A28C37;
}

.text-nataneyu {
  color: #A28C37;
}

.bg-uguisucha {
  background-color: #6C6024;
}

.text-uguisucha {
  color: #6C6024;
}

.bg-kimirucha {
  background-color: #867835;
}

.text-kimirucha {
  color: #867835;
}

.bg-mirucha {
  background-color: #62592C;
}

.text-mirucha {
  color: #62592C;
}

.bg-kariyasu {
  background-color: #E9CD4C;
}

.text-kariyasu {
  color: #E9CD4C;
}

.bg-nanohana {
  background-color: #F7D94C;
}

.text-nanohana {
  color: #F7D94C;
}

.bg-kihada {
  background-color: #FBE251;
}

.text-kihada {
  color: #FBE251;
}

.bg-mushikuri {
  background-color: #D9CD90;
}

.text-mushikuri {
  color: #D9CD90;
}

.bg-aokuchiba {
  background-color: #ADA142;
}

.text-aokuchiba {
  color: #ADA142;
}

.bg-ominaeshi {
  background-color: #DDD23B;
}

.text-ominaeshi {
  color: #DDD23B;
}

.bg-hiwacha {
  background-color: #A5A051;
}

.text-hiwacha {
  color: #A5A051;
}

.bg-hiwa {
  background-color: #BEC23F;
}

.text-hiwa {
  color: #BEC23F;
}

.bg-uguisu {
  background-color: #6C6A2D;
}

.text-uguisu {
  color: #6C6A2D;
}

.bg-yanagicha {
  background-color: #939650;
}

.text-yanagicha {
  color: #939650;
}

.bg-koke {
  background-color: #838A2D;
}

.text-koke {
  color: #838A2D;
}

.bg-kikujin {
  background-color: #B1B479;
}

.text-kikujin {
  color: #B1B479;
}

.bg-rikancha {
  background-color: #616138;
}

.text-rikancha {
  color: #616138;
}

.bg-aikobicha {
  background-color: #4B4E2A;
}

.text-aikobicha {
  color: #4B4E2A;
}

.bg-miru {
  background-color: #5B622E;
}

.text-miru {
  color: #5B622E;
}

.bg-sensaicha {
  background-color: #4D5139;
}

.text-sensaicha {
  color: #4D5139;
}

.bg-baikocha {
  background-color: #89916B;
}

.text-baikocha {
  color: #89916B;
}

.bg-hiwamoegi {
  background-color: #90B44B;
}

.text-hiwamoegi {
  color: #90B44B;
}

.bg-yanagizome {
  background-color: #91AD70;
}

.text-yanagizome {
  color: #91AD70;
}

.bg-urayanagi {
  background-color: #B5CAA0;
}

.text-urayanagi {
  color: #B5CAA0;
}

.bg-iwaicha {
  background-color: #646A58;
}

.text-iwaicha {
  color: #646A58;
}

.bg-moegi {
  background-color: #7BA23F;
}

.text-moegi {
  color: #7BA23F;
}

.bg-nae {
  background-color: #86C166;
}

.text-nae {
  color: #86C166;
}

.bg-yanagisusutake {
  background-color: #4A593D;
}

.text-yanagisusutake {
  color: #4A593D;
}

.bg-matsuba {
  background-color: #42602D;
}

.text-matsuba {
  color: #42602D;
}

.bg-aoni {
  background-color: #516E41;
}

.text-aoni {
  color: #516E41;
}

.bg-usuao {
  background-color: #91B493;
}

.text-usuao {
  color: #91B493;
}

.bg-yanaginezumi {
  background-color: #808F7C;
}

.text-yanaginezumi {
  color: #808F7C;
}

.bg-tokiwa {
  background-color: #1B813E;
}

.text-tokiwa {
  color: #1B813E;
}

.bg-wakatake {
  background-color: #5DAC81;
}

.text-wakatake {
  color: #5DAC81;
}

.bg-chitosemidori {
  background-color: #36563C;
}

.text-chitosemidori {
  color: #36563C;
}

.bg-midori {
  background-color: #227D51;
}

.text-midori {
  color: #227D51;
}

.bg-byakuroku {
  background-color: #A8D8B9;
}

.text-byakuroku {
  color: #A8D8B9;
}

.bg-oitake {
  background-color: #6A8372;
}

.text-oitake {
  color: #6A8372;
}

.bg-tokusa {
  background-color: #2D6D4B;
}

.text-tokusa {
  color: #2D6D4B;
}

.bg-onandocha {
  background-color: #465D4C;
}

.text-onandocha {
  color: #465D4C;
}

.bg-rokusyoh {
  background-color: #24936E;
}

.text-rokusyoh {
  color: #24936E;
}

.bg-sabiseiji {
  background-color: #86A697;
}

.text-sabiseiji {
  color: #86A697;
}

.bg-aotake {
  background-color: #00896C;
}

.text-aotake {
  color: #00896C;
}

.bg-veludo {
  background-color: #096148;
}

.text-veludo {
  color: #096148;
}

.bg-mushiao {
  background-color: #20604F;
}

.text-mushiao {
  color: #20604F;
}

.bg-aimirucha {
  background-color: #0F4C3A;
}

.text-aimirucha {
  color: #0F4C3A;
}

.bg-tonocha2 {
  background-color: #4F726C;
}

.text-tonocha2 {
  color: #4F726C;
}

.bg-aomidori {
  background-color: #00AA90;
}

.text-aomidori {
  color: #00AA90;
}

.bg-seiji {
  background-color: #69B0AC;
}

.text-seiji {
  color: #69B0AC;
}

.bg-tetsu {
  background-color: #26453D;
}

.text-tetsu {
  color: #26453D;
}

.bg-mizuasagi {
  background-color: #66BAB7;
}

.text-mizuasagi {
  color: #66BAB7;
}

.bg-seiheki {
  background-color: #268785;
}

.text-seiheki {
  color: #268785;
}

.bg-sabitetsuonando {
  background-color: #405B55;
}

.text-sabitetsuonando {
  color: #405B55;
}

.bg-korainando {
  background-color: #305A56;
}

.text-korainando {
  color: #305A56;
}

.bg-byakugun {
  background-color: #78C2C4;
}

.text-byakugun {
  color: #78C2C4;
}

.bg-omeshicha {
  background-color: #376B6D;
}

.text-omeshicha {
  color: #376B6D;
}

.bg-kamenozoki {
  background-color: #A5DEE4;
}

.text-kamenozoki {
  color: #A5DEE4;
}

.bg-fukagawanezumi {
  background-color: #77969A;
}

.text-fukagawanezumi {
  color: #77969A;
}

.bg-sabiasagi {
  background-color: #6699A1;
}

.text-sabiasagi {
  color: #6699A1;
}

.bg-mizu {
  background-color: #81C7D4;
}

.text-mizu {
  color: #81C7D4;
}

.bg-asagi {
  background-color: #33A6B8;
}

.text-asagi {
  color: #33A6B8;
}

.bg-onando {
  background-color: #0C4842;
}

.text-onando {
  color: #0C4842;
}

.bg-ai {
  background-color: #0D5661;
}

.text-ai {
  color: #0D5661;
}

.bg-shinbashi {
  background-color: #0089A7;
}

.text-shinbashi {
  color: #0089A7;
}

.bg-sabionando {
  background-color: #336774;
}

.text-sabionando {
  color: #336774;
}

.bg-tetsuonando {
  background-color: #255359;
}

.text-tetsuonando {
  color: #255359;
}

.bg-hanaasagi {
  background-color: #1E88A8;
}

.text-hanaasagi {
  color: #1E88A8;
}

.bg-ainezumi {
  background-color: #566C73;
}

.text-ainezumi {
  color: #566C73;
}

.bg-masuhana {
  background-color: #577C8A;
}

.text-masuhana {
  color: #577C8A;
}

.bg-sora {
  background-color: #58B2DC;
}

.text-sora {
  color: #58B2DC;
}

.bg-noshimehana {
  background-color: #2B5F75;
}

.text-noshimehana {
  color: #2B5F75;
}

.bg-chigusa {
  background-color: #3A8FB7;
}

.text-chigusa {
  color: #3A8FB7;
}

.bg-omeshionando {
  background-color: #2E5C6E;
}

.text-omeshionando {
  color: #2E5C6E;
}

.bg-hanada {
  background-color: #006284;
}

.text-hanada {
  color: #006284;
}

.bg-wasurenagusa {
  background-color: #7DB9DE;
}

.text-wasurenagusa {
  color: #7DB9DE;
}

.bg-gunjyo {
  background-color: #51A8DD;
}

.text-gunjyo {
  color: #51A8DD;
}

.bg-tsuyukusa {
  background-color: #2EA9DF;
}

.text-tsuyukusa {
  color: #2EA9DF;
}

.bg-kurotsurubami {
  background-color: #0B1013;
}

.text-kurotsurubami {
  color: #0B1013;
}

.bg-kon {
  background-color: #0F2540;
}

.text-kon {
  color: #0F2540;
}

.bg-kachi {
  background-color: #08192D;
}

.text-kachi {
  color: #08192D;
}

.bg-ruri {
  background-color: #005CAF;
}

.text-ruri {
  color: #005CAF;
}

.bg-rurikon {
  background-color: #0B346E;
}

.text-rurikon {
  color: #0B346E;
}

.bg-benimidori {
  background-color: #7B90D2;
}

.text-benimidori {
  color: #7B90D2;
}

.bg-fujinezumi {
  background-color: #6E75A4;
}

.text-fujinezumi {
  color: #6E75A4;
}

.bg-tetsukon {
  background-color: #261E47;
}

.text-tetsukon {
  color: #261E47;
}

.bg-konjyo {
  background-color: #113285;
}

.text-konjyo {
  color: #113285;
}

.bg-benikakehana {
  background-color: #4E4F97;
}

.text-benikakehana {
  color: #4E4F97;
}

.bg-konkikyo {
  background-color: #211E55;
}

.text-konkikyo {
  color: #211E55;
}

.bg-fuji {
  background-color: #8B81C3;
}

.text-fuji {
  color: #8B81C3;
}

.bg-futaai {
  background-color: #70649A;
}

.text-futaai {
  color: #70649A;
}

.bg-ouchi {
  background-color: #9B90C2;
}

.text-ouchi {
  color: #9B90C2;
}

.bg-fujimurasaki {
  background-color: #8A6BBE;
}

.text-fujimurasaki {
  color: #8A6BBE;
}

.bg-kikyo {
  background-color: #6A4C9C;
}

.text-kikyo {
  color: #6A4C9C;
}

.bg-shion {
  background-color: #8F77B5;
}

.text-shion {
  color: #8F77B5;
}

.bg-messhi {
  background-color: #533D5B;
}

.text-messhi {
  color: #533D5B;
}

.bg-usu {
  background-color: #B28FCE;
}

.text-usu {
  color: #B28FCE;
}

.bg-hashita {
  background-color: #986DB2;
}

.text-hashita {
  color: #986DB2;
}

.bg-edomurasaki {
  background-color: #77428D;
}

.text-edomurasaki {
  color: #77428D;
}

.bg-shikon {
  background-color: #3C2F41;
}

.text-shikon {
  color: #3C2F41;
}

.bg-kokimurasaki {
  background-color: #4A225D;
}

.text-kokimurasaki {
  color: #4A225D;
}

.bg-sumire {
  background-color: #66327C;
}

.text-sumire {
  color: #66327C;
}

.bg-murasaki {
  background-color: #592C63;
}

.text-murasaki {
  color: #592C63;
}

.bg-ayame {
  background-color: #6F3381;
}

.text-ayame {
  color: #6F3381;
}

.bg-fujisusutake {
  background-color: #574C57;
}

.text-fujisusutake {
  color: #574C57;
}

.bg-benifuji {
  background-color: #B481BB;
}

.text-benifuji {
  color: #B481BB;
}

.bg-kurobeni {
  background-color: #3F2B36;
}

.text-kurobeni {
  color: #3F2B36;
}

.bg-nasukon {
  background-color: #572A3F;
}

.text-nasukon {
  color: #572A3F;
}

.bg-budohnezumi {
  background-color: #5E3D50;
}

.text-budohnezumi {
  color: #5E3D50;
}

.bg-hatobanezumi {
  background-color: #72636E;
}

.text-hatobanezumi {
  color: #72636E;
}

.bg-kakitsubata {
  background-color: #622954;
}

.text-kakitsubata {
  color: #622954;
}

.bg-ebizome {
  background-color: #6D2E5B;
}

.text-ebizome {
  color: #6D2E5B;
}

.bg-botan {
  background-color: #C1328E;
}

.text-botan {
  color: #C1328E;
}

.bg-umemurasaki {
  background-color: #A8497A;
}

.text-umemurasaki {
  color: #A8497A;
}

.bg-nisemurasaki {
  background-color: #562E37;
}

.text-nisemurasaki {
  color: #562E37;
}

.bg-tsutsuji {
  background-color: #E03C8A;
}

.text-tsutsuji {
  color: #E03C8A;
}

.bg-murasakitobi {
  background-color: #60373E;
}

.text-murasakitobi {
  color: #60373E;
}

.bg-shironeri {
  background-color: #FCFAF2;
}

.text-shironeri {
  color: #FCFAF2;
}

.bg-gofun {
  background-color: #FFFFFB;
}

.text-gofun {
  color: #FFFFFB;
}

.bg-shironezumi {
  background-color: #BDC0BA;
}

.text-shironezumi {
  color: #BDC0BA;
}

.bg-ginnezumi {
  background-color: #91989F;
}

.text-ginnezumi {
  color: #91989F;
}

.bg-namari {
  background-color: #787878;
}

.text-namari {
  color: #787878;
}

.bg-hai {
  background-color: #828282;
}

.text-hai {
  color: #828282;
}

.bg-sunezumi {
  background-color: #787D7B;
}

.text-sunezumi {
  color: #787D7B;
}

.bg-rikyunezumi {
  background-color: #707C74;
}

.text-rikyunezumi {
  color: #707C74;
}

.bg-nibi {
  background-color: #656765;
}

.text-nibi {
  color: #656765;
}

.bg-aonibi {
  background-color: #535953;
}

.text-aonibi {
  color: #535953;
}

.bg-dobunezumi {
  background-color: #4F4F48;
}

.text-dobunezumi {
  color: #4F4F48;
}

.bg-benikeshinezumi {
  background-color: #52433D;
}

.text-benikeshinezumi {
  color: #52433D;
}

.bg-aisumicha {
  background-color: #373C38;
}

.text-aisumicha {
  color: #373C38;
}

.bg-binrojizome {
  background-color: #3A3226;
}

.text-binrojizome {
  color: #3A3226;
}

.bg-keshizumi {
  background-color: #434343;
}

.text-keshizumi {
  color: #434343;
}

.bg-sumi {
  background-color: #1C1C1C;
}

.text-sumi {
  color: #1C1C1C;
}

.bg-kuro {
  background-color: #080808;
}

.text-kuro {
  color: #080808;
}

.bg-ro {
  background-color: #0C0C0C;
}

.text-ro {
  color: #0C0C0C;
}

/*# sourceMappingURL=iroiro.css.map */
